.el-cascader-menu__item.is-active
  color #ffbb29
.el-pager li.active 
  color #ffbb29
.el-pager .number:hover
    color #ffbb29
.el-pagination .btn-next:hover, .el-pagination .btn-prev:hover
  color #ffbb29
.el-cascader-menus
  z-index 9999 !important
.mypop
  z-index 9999 !important